<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="min-h-screen flex justify-center items-center bg-gray-100">
  <main class=" min-h-screen bg-white rounded-md shadow-md p-6 flex flex-col justify-start">
    <!-- Header -->
    <h1 class="text-2xl text-center font-bold mb-6 text-gray-800">TODO LIST</h1>


    <!-- <form  action="/getTodoById" </form>method="post" class="flex gap-2">
    <input name="id" type="number" placeholder="Enter ID" class="border px-2 py-1 rounded">
    <button type="submit" class="bg-gray-800 text-white px-3 py-1 rounded">Search by ID</button>
    </form> -->

    <%- include('./components/todoslist'); %>


      <!-- Floating Add Button -->
      <a href="/addtodos">
        <button
          class="fixed bottom-6 right-6 bg-gray-800 text-white pb-1.5 rounded-full w-14 h-14 flex items-center justify-center shadow-lg hover:bg-gray-700">
          <p class="text-3xl">+</p>
        </button>
      </a>
  </main>
</body>

</html>