<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/src/output.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="flex h-screen justify-center items-center flex-col  ">
    <h1 class="text-2xl">TODOS:</h1>
    <ul class=" flex flex-col gap-2">
        <%todos.forEach(todo=>{  %>
            <li>
                <h1><%=todo.title%></h1>
                <p><%=todo.note%></p>
                <span><%=todo.created_at%></span>
            </li>
            
        <%})  %>
    </ul>

</body>
<script>
</script>
</html>